/*Font*/
body {
  font-family:  "Courier New", monospace;
  background: #bababa;
}

/* Colours
Midnight Blue
#145DA0

Dark Blue
#0C2D48

Blue
#2E8BC0

Baby Blue
#B1D4E0
*/

/* Header/Logo Title */
.header {
  padding: 120px;
  text-align: center;
  background: #2E8BC0;
  color: white;
  font-size: 30px;
  font-family: "Courier New", monospace;
}
/* Font change */
h1 {
font-family: "Courier New", monospace;
}
h2 {
font-family: "Courier New", monospace;
}
h3 {
font-family: "Courier New", monospace;
}

hr {
margin:auto;
width:15%;
background: white;}

.navbar-inner{
    text-align: center;
    margin: auto;
}
.navbar{
    position: sticky;
    font-size: x-large;
    border: solid white;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}