/* Colours
Midnight Blue
#145DA0

Dark Blue
#0C2D48

Blue
#2E8BC0

Baby Blue
#B1D4E0


--cobalt-blue: #004aadff;
--burnt-orange: #ba5624ff;
--rajah: #ffa552ff;
--peach: #fcde9cff;
--lavender-web: #e9e6ffff;

*/

:root {
--main-colour: #2b6777;
--beau-blue: #c8d8e4;
--white: #ffffff;
--cultured: #f2f2f2;
--second: #52ab98;
}
html, body {
font-family:  "Courier New", monospace;
height: 100%;
}
body {
  background: var(--white);
  min-height: 100%;
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content 1fr;
  grid-template-columns: min-content 1fr;
  -ms-grid-rows: min-content auto min-content;
  grid-template-rows: min-content auto min-content;
}


main {
  grid-area: 2 / 2 / 3 / 3;
  padding: 0 2rem 10rem 2rem;
}

/* Header/Logo Title */
.header {
  grid-area: 1 / 2 / 2 / 3;
  padding: 100px;
  text-align: center;
  background: var(--main-colour);
  color: white;
  font-size: 30px;
  font-family: "Courier New", monospace;
}

footer {
  grid-area: 3/2/4/4;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

@media (max-width: 700px) {
  .footer {
    display: block;
    padding-bottom: 2rem;
  }
  .footer>div {
    padding: 2rem 1rem 0rem 2rem;
  }
}


#hamburger {
  background: none;
  border: 0;
  color: var(--second);
  margin: 0 auto;
  padding: 0.5rem;
  font-size: 150%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

@media (max-width: 700px) {
  #hamburger {
    display: block;
  }
}
/* Font change */
h1,
h2,
h3,
h4,
h5,
h6 {font-family: "Courier New", monospace;
}

hr {
margin:auto;
width:15%;
background-color: var(--second);
border: none;}

hr:not([size]) {
    height: 3px;
}

ul {
list-style: none;}

/* Navigation Bar Style */
.sidebar-nav {
  grid-area: 1 / 1 / 4 / 1;
  padding: 0 0 2rem 0;
  position: relative;
  z-index: 1;
  background-color: var(--main-colour)
}

.sidebar-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-nav ul li a {
  display: block;
  padding: 0.25rem 1rem;
  color: var(--white);
  font-size: 20px;
  text-decoration: none;
}

.sidebar-nav ul li a:focus,
.sidebar-nav ul li a:hover {
  color: var(--second);
}

.sidebar-nav ul li a.current {
  background: black;
}

.sidebar-nav .sticky-inside {
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
}

.sidebar-nav .just-nav {
  white-space: nowrap;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: calc(100vh - 60px);
}

@media screen and (max-width: 600px) {
  .sidebar-nav .just-nav {
    position: fixed;
    top: 0;
    height: 100vh;
    display: block;
    padding-top: 1.25rem;
    transition: 0.2s;
    transform: translateX(-210px);
    background: rgba(0, 0, 0, 0.9);
  }
  body.sidebar-is-open .sidebar-nav .just-nav {
    transform: translateX(0);
  }
}

a:hover{
color: var(--second)}

div {
font-size: 100%;
}

section {
width: 70%;
text-align:center;
margin: auto;
padding: 10px;
}
list-section {
width: 15%;
text-align:center;
margin: auto;}

pdf-viewer {
width: "500px";
height: "600px";}

.fa {
color: var(--main-colour)}
.fa:hover {
color: var(--second)}

@media screen and (max-width: 600px) {
  section {
  width: 100%;
  padding: 20px;}
  list-section {
  width: 100%;}
  .header {
  padding:20px;}
  pdf-viewer {
  width: 100%}
  nav ul {
  position: sticky;
  top: 0;}
}