/*Font*/
body {
font-family:  "Courier New", monospace;
background: #bababa;
}


/* Colours
Midnight Blue
#145DA0

Dark Blue
#0C2D48

Blue
#2E8BC0

Baby Blue
#B1D4E0


--cobalt-blue: #004aadff;
--burnt-orange: #ba5624ff;
--rajah: #ffa552ff;
--peach: #fcde9cff;
--lavender-web: #e9e6ffff;
*/

/* Header/Logo Title */
.header {
  padding: 120px;
  text-align: center;
  background: #2E8BC0;
  color: white;
  font-size: 30px;
  font-family: "Courier New", monospace;
}
/* Font change */
h1 {
font-family: "Courier New", monospace;
}
h2 {
font-family: "Courier New", monospace;
}
h3 {
font-family: "Courier New", monospace;
}

hr {
margin:auto;
width:15%;
background: white;}

.navbar-inner{
    text-align: center;
    margin: auto;
}
.navbar{
    position: sticky;
    font-size: x-large;
    border: solid white;
}

.column {
  float: left;
  width: 49%;
  padding: 20px;
}


div {
font-size: 100%;
}

section {
width: 50%;
text-align:center;
margin: auto;
}
list-section {
width: 15%;
text-align:center;
margin: auto;}

pdf-viewer {
width: "500px";
height: "600px";}


@media screen and (max-width: 600px) {
  section {
  width: 100%;
  padding: 20px;}
  list-section {
  width: 100%;}
  .header {
  padding:20px;}
  pdf-viewer {
  width: 100%}
}